{% extends "base/base.html" %}
{% block title %}Contact | Me{% endblock title %}

{% block content %}

<!--contact section start (32.44)-->
<section class="contact" id="contact">
    <div class="title reveal">
        <h2 class="section-title"> Contact Me</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info">
                    <h3> Address</h3>
                    <span>Dhaka, Bangladesh</span>
                </div>
            </div>

            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="info">
                    <h3> Phone</h3>
                    <span>+8801723361666</span>
                </div>
            </div>

            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <h3> Email</h3>
                    <span>amsbarik@yahoo.com</span>
                </div>
            </div>

            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-globe"></i>
                </div>
                <div class="info">
                    <h3> Website</h3>
                    <span>www.amsbarik.com</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="contact-form reveal">
                <h3> Send Message</h3>
                <div class="input-box">
                    <input type="text" name="" value="" placeholder="name">
                </div>
                <div class="input-box">
                    <input type="text" name="" value="" placeholder="email">
                </div>
                <div class="input-box">
                    <textarea name="name" rows="8" cols="80" placeholder="meassage"></textarea>
                </div>
                <div class="input-box">
                    <input type="submit" class="send-btn" name="" value="send">
                </div>
            </div>
        </div>
    </div>

</section>
<!--contact section end-->


{% endblock content %}